@using System.Collections.Generic
@using Pager.Models
@model IList<Publisher>
@{
    ViewData["Title"] = "Publishers";
}

<div class="row">

@{
    foreach (var publisher in Model)
    {
        <div class="row">
            <a href="@publisher.Homepage" class="btn-link col-md-4">@publisher.Name</a>
        </div>
  
    }
}
</div>