@using Paiger.Models
@model ArticleModel

<div class="jumbotron">
    <h1>Welcome!</h1>

	<div asp-validation-summary="All"></div>
    <form method="POST">
      <div>Name: <input asp-for="Title" /></div>
      <div>Link: <input asp-for="Link" /></div>
      <div>Genre: <input asp-for="Genre" /></div>
      <div>Publisher: <input asp-for="Publisher" /></div>
      <div>Date Published: <input type="date" asp-for="DatePublished" /></div>
      <input type="submit" formaction="/Admin/Article" value="Add" >
    </form>
</div>